
* {
	font-family: ChicagoFLF;
	font-weight: 100;
	font-size: 13px;
	font-size: 11px;
}

.text-view, .search-entry {
/*
	font-family: CaskaydiaMono Nerd Font;
	font-weight: 300;
	font-weight: 400;
	font-size: 12.5px;
	font-size: 14px;
	font-size: 16px;
*/
	font-family: JetBrains Mono;
	font-family: ComicShannsMono Nerd Font;
	font-family: CodeNewRoman Nerd Font Mono;
	font-family: Monaco;
	font-family: Monaco Ligaturized;
	font-weight: 400;
	font-weight: 500;
	font-size: 12px;
	font-size: 13.5px;
	font-size: 15px;
	font-size: 14px;
/*
*/

/*
	font-family: Sudo;
	font-size: 17px;
	font-size: 19px;
	font-weight: 400;
*/
}

.text-view text {
	background-color: #191724;
	background-color: #161616;
	background-color: #222;
	background-color: #232136;
	background-color: #111;
	background-color: #101016;
	background-color: #000;
	color: #aaaaaa;
	color: #e0def4;
	caret-color: red;
}

.search-entry {
	background-color: #232136;
	color: #e0def4;
	caret-color: red;
}

.text-view > text > selection, .search-entry selection {
	/*background-color: #44415a;*/
	background-color: red;
}

/*
.status-bar {
	background-color: #cc6633;
	background-color: #994422;
	color: #ffffff;
}

.code-highlighting-menu-button * {
	background-color: purple;
	border: 0;
	padding: 0;
	margin: 0;
}

button *, button.image-button *, button.text-button *{
	background-image: none;
	background-color: red;
	border-width: 3px;
	padding: 0;
	margin: 0;
	border-radius: 15px;
	box-shadow: none;
}

button:hover * {
	background: yellow;
}
*/
