.text-view, .search-entry {
	font-family: Sudo;
	font-weight: 300;
	font-size: 21px;
	font-size: 17px;
	font-size: 19px;

	font-family: DejaVuSansM Nerd Font;
	font-size: 14px;
	font-size: 15px;
}

.text-view text {
	background-color: #0b0b0b;
	color: #999;
	caret-color: #900;
}

.search-entry {
	background-color: #000;
	color: #999;
	caret-color: #900;
	border-color: #900;
	border-width: 3px;
}
.search-entry:focus {
	border-color: red;
}
.text-view > text > selection, .search-entry selection {
	background-color: #900;
}

/*
.status-bar {
	background-color: #cc6633;
	background-color: #994422;
	color: #ffffff;
}

.code-highlighting-menu-button * {
	background-color: purple;
	border: 0;
	padding: 0;
	margin: 0;
}

button *, button.image-button *, button.text-button *{
	background-image: none;
	background-color: red;
	border-width: 3px;
	padding: 0;
	margin: 0;
	border-radius: 15px;
	box-shadow: none;
}

button:hover * {
	background: yellow;
}
*/
