.text-view, .search-entry {
	font-family: ComicShannsMono Nerd Font Mono;
	/*font-size: 14.5px;*/
	font-size: 16.5px;
	/*font-weight: Regular;*/
}

/*
.text-view * {
	background-color: rgb(0,0,0);
	color: white;
	caret-color: #ff0000;
}
*/

/*
.search-entry {
	background-color: red;
}
*/