
* {
	font-family: ChicagoFLF;
	font-weight: 100;
	font-size: 13px;
	font-size: 11px;
}

.text-view, .search-entry {
	font-family: Monaco;
	font-family: Monaco Ligaturized;
	font-family: Liberation Mono;
	font-weight: 900;
	font-size: 15px;
	font-size: 14px;
}

.text-view text {
	background-color: #191b1b;
	color: #9b9e9b;
	caret-color: green;
	caret-color: #0f0;
}

.search-entry {
	background-color: #092230;
	color: #268bd2;
	caret-color: green;
	caret-color: #0f0;
}

.text-view > text > selection, .search-entry selection {
	background-color: #0f0;
	color: black;
	color: #fff;
}

/*
.status-bar {
	background-color: #cc6633;
	background-color: #994422;
	color: #ffffff;
}

.code-highlighting-menu-button * {
	background-color: purple;
	border: 0;
	padding: 0;
	margin: 0;
}

button *, button.image-button *, button.text-button *{
	background-image: none;
	background-color: red;
	border-width: 3px;
	padding: 0;
	margin: 0;
	border-radius: 15px;
	box-shadow: none;
}

button:hover * {
	background: yellow;
}
*/
