/* ~/.local/share/fonts */

/*
black
white
red
orange
#101010
*/

/*
At first I was thinking about using different levels of specificity by means
of names and classes, but then I thought that we should keep it simple
and just stick to classes.
*/

/* We'll use this font for all widgets that take text input: */
.text-view,
.search-entry,
.search-in-files-phrase-entry,
.search-in-files-pattern-entry,
.openfile-entry
{
	font: Courier 10 Pitch Bold 11.5;
	font: Courier 10 Pitch Bold 11;
	font: Courier 10 Pitch Regular 12;
}

/* Rules for all text-entries: */
.search-entry,
.search-in-files-phrase-entry,
.search-in-files-pattern-entry
{
	border: solid 1px orange;
	border-radius: 0;
	background: orange;
	color: black;
	padding: 7px;
}

.search-entry:focus,
.search-in-files-phrase-entry:focus,
.search-in-files-pattern-entry:focus
{
	/*border: solid 1px black;*/
	border: solid 1px red;
	border-radius: 0;
	background: orange;
	color: black;
	padding: 7px;
}

.openfile-entry
{
	border: solid 1px black;
	border-radius: 0;
	color: black;
}

/*
:focus pseudoclass conflicts with :selected pseudoclass (?)
*/
.text-view:selected,
.search-entry:selected,
.search-in-files-phrase-entry:selected,
.search-in-files-pattern-entry:selected,
.openfile-entry:selected
{
	color: white;
	background: red;
}


/* Rules for all buttons: */
.code-highlighting-menu-button,
.search-in-files-button,
.home-dir-button,
.parent-dir-button
{
	background: #25365d;
	color: #e0e0e0;
	border: none;
	border-radius: 0;
	font: Roboto 10;
	padding: 10px;
}

.code-highlighting-menu-button:hover,
.search-in-files-button:hover,
.home-dir-button:hover,
.parent-dir-button:hover
{
	background: #2d4170;
}

/*
.code-highlighting-menu-button
{
	background: rgb(41, 87, 116);
	color: white;
}

.code-highlighting-menu-button:hover
{
	background: rgb(51, 97, 126);
}
*/

.app-window
{
	background: #131c30;
	color: #e0e0e0;
	font: Roboto 10;
}

.main-notebook
{
	background: #101010;
	/*color: black;*/
	/*border: solid 1px black;*/
	border: solid 1px rgb(200, 200, 200);
	border: none;
}

.main-notebook tab
{
	padding: 10px 16px;
	background: #101010;
}

.main-notebook tab:active
{
	background: #000000;
	/*border-top: solid red 1px;*/
}

.search-entry
{
}

.text-view
{
	background: #006523;
	background: black;
	color: gray;
	color: #030302; /* blackish*/
	color: #181c1f; /* gray*/
	color: #79550b; /* dark beige */
	color: #268156; /* grayer cyanish */
	color: #3ed78d; /* crazy light green */
	color: #2bc278; /* light green */
	color: #466459; /* gray */
	color: #a7873d; /* beige*/
	color: #c2b272; /* light beige*/
	color: white;
}

.status-bar {
	/*border-top: solid 1px rgb(200, 200, 200);*/
	background: #131c30;
	background: #101010;
	color: #e0e0e0;
	font-weight: bold;
	/*	padding: 10px 10px 10px 10px;*/ /* no effect */
}

/* No effect in GTK 3.18.9 */
/*GtkPaned {background: background: rgb(85, 85, 95);}*/
/*
.home-dir-button
{
	background: #25365d;
}

.home-dir-button:hover
{
	background: #3d5999;
}

.parent-dir-button
{
	background: #25365d;
}

.parent-dir-button:hover
{
	background: #3d5999;
}
*/
.root-dir-label
{
	color: #e0e0e0;
	font: Roboto Bold 11;
}

.sidebar-notebook
{
	background: #131c30;
	color: black;
	/*border: solid 0px black;*/
	border: none;
	border-radius: 0;
}

.sidebar-notebook tab
{
	padding: 10px 16px;
	background: #131c30;
}

.sidebar-notebook tab:active
{
	background: #1a2641;
}

.filebrowser
{
	background: #1a2641;
	background: #ffa300;
	color: #e0e0e0;
	color: black;
}

.filebrowser row:selected
{
	background: #ede627;
	border: none;
}

.search-in-files
{
	/*background: rgb(255, 255, 210);*/
	/*border: solid 1px black;*/
	border: none;
	border-radius: 0;
	background: #00991d;
}

.search-in-files-phrase-entry,
.search-in-files-pattern-entry
{
	border: solid 1px #00c625;
	background: #00c625;
	color: #e0e0e0;
	color: black;
}

.search-in-files-phrase-entry:focus,
.search-in-files-pattern-entry:focus
{
	border: solid 1px #ee2800;
	background: #00c625;
	color: #e0e0e0;
	color: black;
}

.search-in-files-phrase-entry:selected,
.search-in-files-pattern-entry:selected
{
	color: white;
	background: #ee2800;
}
/*
.check-button {
	border: solid 3px red;
	border-radius: 0;

	background: rgb(65, 65, 75);
}
*/
.search-in-files-button
{
	background: #00510f;
}

.search-in-files-button:hover
{
	background: #006b14;
}

.search-results
{
	background: #ffa300;
}

.search-result
{
	font-weight: bold;
}

.suggestions-popup
{
	/*color: rgb(190, 190, 190);*/
	/*font: Free Mono Bold 11;*/
}

.openfile-dialog
{
	background: red;
}

.openfile-entry, .openfile-entry:focus
{
	color: black;
	background: #14e38e;
	font: sudo Bold 16;
	/*border: solid 1px #484844;*/
	border: none;
	border-radius: 0;
	padding: 7px;
}

.openfile-entry:selected
{
	color: white;
	background: red;
}

.openfile-file-list
{
	background: red;
	font: sudo Regular 14;
}

.openfile-file-list > *
{
	background: #0fa064;
	color: black;
	padding: 3px;
}

.openfile-file-list > *:selected
{
	color: black;
	background: #11ba74;
}
/*
.openfile-dialog
{
	background: rgb(255, 165, 0);
	color: black;
}

.openfile-entry
{
	background: rgb(255, 190, 25);
}

.openfile-file-list
{
	background: red;
	font: Source Code Pro Regular 10;
}

.openfile-file-list > *
{
	background: rgb(255, 165, 0);
	color: black;
	padding: 3px;
}

.openfile-file-list > *:selected
{
	color: black;
	background: rgb(255, 190, 25);
}
*/
