.text-view, .search-entry {
/*
	font-family: Sudo;
	font-weight: 400;
	font-size: 19px;
	font-size: 17px;
	font-size: 21px;
	font-weight: 900;
	font-weight: 500;
*/

/*
	font-family: DejaVuSansM Nerd Font;
	font-size: 17px;
	font-size: 15px;
	font-size: 14px;
	font-weight: 500;
*/
	font-family: BPMono;
	font-size: 15.5px;
/*
	font-size: 16.5px;
	font-size: 14px;
*/

}

.text-view text {
	background-color: #222222;
	color: #aaaaaa;
	caret-color: red;
}

.search-entry {
	background-color: #222222;
	color: #aaaaaa;
	caret-color: red;
}

.text-view > text > selection, .search-entry selection {
	background-color: red;
}

/*
.status-bar {
	background-color: #cc6633;
	background-color: #994422;
	color: #ffffff;
}

.code-highlighting-menu-button * {
	background-color: purple;
	border: 0;
	padding: 0;
	margin: 0;
}

button *, button.image-button *, button.text-button *{
	background-image: none;
	background-color: red;
	border-width: 3px;
	padding: 0;
	margin: 0;
	border-radius: 15px;
	box-shadow: none;
}

button:hover * {
	background: yellow;
}
*/
