
	/* ~/.local/share/fonts */

/*
At first I was thinking about using different levels of specificity by means
of names and classes, but then I thought that we should keep it simple
and just stick to classes.
*/

/* We'll use this font for all widgets that take text input: */
.text-view,
.search-entry,
.search-in-files-phrase-entry,
.search-in-files-pattern-entry
{
	font: Dejavu Sans Mono Bold 13;
	font: Consolas Bold 11;
	font: Consolas Regular 11;
	font: Dejavu Sans Mono Regular 10.5;
	font: BPMono Bold 10.5;
	font: BPMono Bold 11;
	font: BPMono Bold 12.5;
	font: Dejavu Sans Mono Bold 10.5;
	font: Dejavu Sans Mono Regular 11;
	font: Liberation Mono Bold 12;
	font: Liberation Mono Bold 11;
	font: Dejavu Sans Mono Bold 11;
	font: BPMono Regular 13;
	font: BPMono Regular 10;
	font: BPMono Regular 10.5;
	font: BPMono Regular 11;
}

.search-entry
{
	border: solid 1px #484844;
	border-radius: 0;
	background: #32322f;
	color: #c1af9c;
	padding: 7px;
}

.search-entry:focus
{
	/*border: none;*/
	border: solid 1px #de4f44;
	border-radius: 0;
	background: #32322f;
	color: #c1af9c;
	padding: 7px;
}

/*
:focus pseudoclass conflicts with :selected pseudoclass (?)
*/
.text-view:selected,
.search-entry:selected,
.search-in-files-phrase-entry:selected,
.search-in-files-pattern-entry:selected
{
	color: white;
	background: red;
	/*
	color: #000000;
	background: #00ff00;
	*/
}

/* Rules for all buttons: */
.code-highlighting-menu-button,
.search-in-files-button,
.home-dir-button,
.parent-dir-button
{
	background: #e18a38;
	color: black;
	border: none;
	border-radius: 0;
	/*font: Roboto 10;*/
	font: Ubuntu Nerd Font Condensed 11;
	padding: 10px;
}

.code-highlighting-menu-button:hover,
.search-in-files-button:hover,
.home-dir-button:hover,
.parent-dir-button:hover
{
	background: #fb9839;
}

.code-highlighting-menu-button:active,
.search-in-files-button:active,
.home-dir-button:active,
.parent-dir-button:active
{
	background: #cd7e33;
}

.search-in-files-button
{
	border-right: solid #8a5624 2px;
	border-bottom: solid #8a5624 2px;
	/*border-right: solid #2c1c0c 2px;
	border-bottom: solid #2c1c0c 2px;*/
	/*border-radius: 6px;*/
}

.search-in-files-button:hover
{
	background: #e18a38;
}

.search-in-files-button:active
{
	border: none;
	border-top: solid #8a5624 2px;
	border-left: solid #8a5624 2px;
	/*border-top: solid #2c1c0c 2px;
	border-left: solid #2c1c0c 2px;*/
	/*background: #d58336;*/
}

.app-window
{
	background: #dedede;
	/*color: black;*/
	/*font: Roboto 10;*/
	font: Ubuntu Nerd Font Condensed 10;
}

.main-notebook
{
	background: #32322f;
	color: beige;
	border: none;
}

.main-notebook tab
{
	background: #32322f;
	padding: 10px 16px;
}

.main-notebook tab:active
{
	background: #101010;
}

.text-view
{
	/*
	background: #1a1a1a;
	*/
	background: #101010;
	color: #c1af9c;
	/*color: #af9f8e;  darker */
}

.status-bar {
	background: #32322f;
	color: white;
	/*	padding: 10px 10px 10px 10px;*/ /* no effect */
}

/* No effect in GTK 3.18.9 */
/*GtkPaned {background: background: rgb(85, 85, 95);}*/
/*
.home-dir-button
{
	background: rgb(246, 121, 82);
}

.home-dir-button:hover
{
	background: rgb(256, 131, 92);
}

.parent-dir-button
{
	background: rgb(25, 213, 99);
}

.parent-dir-button:hover
{
	background: rgb(35, 223, 109);
}*/

.root-dir-label
{
	color: black;
	/*font: Roboto Bold 11;*/
	font: Ubuntu Nerd Font Condensed 12;
}

.sidebar-notebook
{
	/*background: white;*/
	background: #dedede;
	color: black;
	/*border: solid 1px black;*/
	border: none;
	border-radius: 0;
	font: Ubuntu Nerd Font Condensed 11;
}

.sidebar-notebook tab
{
	background: #efefef;
	padding: 10px 16px;
}

.sidebar-notebook tab:active
{
	/*background: #272725;*/
	background: white;
}

.filebrowser
{
	/*background: #272725;*/
	background: white;
	color: black;
}

.filebrowser row:selected
{
	background: #efefef;
	border: none;
}

.search-in-files
{
	border: none;
	border-radius: 0;
	background: white;
}

.search-in-files-phrase-entry,
.search-in-files-pattern-entry
{
	background: white;
	color: black;
	border: solid 1px #484844;
	border-radius: 0;
	padding: 7px;
}

.check-button {
	/* has no effect? */
	color: black;
}

.search-in-files-button
{
}

.search-in-files-button:hover
{
}

.search-results
{
	background: white;
}

.search-result
{
	font-weight: bold;
}

.suggestions-popup-list > * {
	font: sudo Bold 14;
	/*
	color: black;
	background: white;
	*/
	background: 	#c1af9c;
	color: 		#272725;
}
.suggestions-popup-list > *:selected {
	/*
	color: white;
	background: black;
	*/
	background: 	#272725;
	color: 		#c1af9c;
}

.openfile-dialog
{
	background: rgb(255, 165, 0);
}

.openfile-entry, .openfile-entry:focus
{
	color: black;
	background: rgb(255, 190, 25); /* lighter orangeish */
	font: sudo Bold 16;
	border: solid 1px #484844;
	border-radius: 0;
	padding: 7px;
}

.openfile-entry:selected
{
	color: white;
	background: red;
}

.openfile-file-list
{
	background: red;
	font: sudo Regular 14;
}

.openfile-file-list > *
{
	background: rgb(255, 165, 0); /* orangeish */
	color: black;
	padding: 3px;
}

.openfile-file-list > *:selected
{
	color: black;
	background: rgb(255, 190, 25); /* lighter orangeish */
}

GtkWidget {
	-GtkWidget-cursor-color: #00ff00;
	-GtkWidget-cursor-aspect-ratio: 0.1;
}